<footer>
    <div class="footer">
        <h4>
            <b>&copy; 2017 MHD Ghanem Balhawan</b>
        </h4>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>

</html>