<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <link href="../styles/main.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <ul class="navigation">
            <li>
                <a href="home">Home</a>
            </li>
            <li>
                <a href="about">About</a>
            </li>
            <li>
                <a href="contact">Contact</a>
            </li>
        </ul>
    </div>
    {{{body}}}

    <footer>
        <div class="footer">
            <h4>
                <b>&copy; 2017 MHD Ghanem Balhawan</b>
            </h4>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>