
<section class="contact width">
    <h1>Contact Us</h1>
    <form action="/contact" method="POST">
        <label for="fname">First Name: </label>
        <br />
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <br />
        <label for="lname">Last Name: </label>
        <br />
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <br />
        <label for="lname">Email: </label>
        <br />
        <input type="text" id="email" name="email" placeholder="Your email address..">
        <br />
        <label for="lname">Telephone: </label>
        <br />
        <input type="text" id="telephone" name="telephone" placeholder="Your telephone..">
        <br />
        <label for="subject">Subject: </label>
        <br />
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        <br />
        <input type="submit" value="Submit" style="width:80%; height: 35px">
    </form>
</section>

<div class="">
    <div class="">
        <p class="">
            <img>
        </p>
    </div>

</div>
<section class="contact-info width">
    <div class="contact-item">
        <i class="fa fa-map-marker fa-2x"></i>
        <p>
            50 Lambeth St,
            <br> Manchester, MA7 5UL
        </p>
    </div>
    <div class="contact-item">
        <i class="fa fa-envelope-o fa-2x"></i>
        <p>
            info@company.com
        </p>
    </div>
    <div class="contact-item">
        <i class="fa fa-phone fa-2x"></i>
        <p>
            +44 123 456 6789
            <br> +44 123 456 6789
        </p>
    </div>
</section>
<div class="clearfix"></div>
<div class="map width">
    <iframe width="100%" height="70%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=London%20SE78AY%2C%20United%20Kingdom&key=AIzaSyBcCkNop_qbwRNaVhkHj8EaGZKz90OLy80"
        allowfullscreen>
    </iframe>
</div>
