
<% include partials/header %>
<div class="container">
    <section class="">
        <div class="main">
            <section class="services-section">
                <img class="head-img" src="../images/cars-1450686.jpg" alt="a man is checking a car in a garage " aria-details="man-checking-car">
                <div class="servicing column">
                    <p class="white">
                        <img class="small-img" src="../images/untitled_08.jpg" alt="icon of a car with a crank" aria-details="car-crank">
                    </p>
                    <h2>Servicing</h2>
                    <img class="car-photo" src="../images/car-270X254.jpg" alt="car lifted in a garage " aria-details="car-lifted-garage">
                    <p class="white">
                        <img class="small-img" src="../images/untitled_80.jpg" alt="icon of a car with a crank" aria-details="car-crank">
                    </p>

                    <P>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                        vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                        justo. Nullam dictum felis eu pede mollis pretium.
                    </p>
                    <P>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        Nullam dictum felis eu pede mollis pretium.
                    </p>
                </div>
                <div class="repair column">
                    <p class="white">
                        <img class="small-img" src="../images/untitled_78.jpg">
                    </p>
                    <h2>Repair</h2>
                    <img class="car-photo" src="../images/cropped-yellow-car-3-1453274.jpg">
                    <p class="white">
                        <img class="small-img" src="../images/untitled_59.jpg">
                    </p>
                    <P>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                        vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                        justo. Nullam dictum felis eu pede mollis pretium. Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                        parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
                <div class="tyres column">
                    <p class="white">
                        <img class="small-img" src="../images/untitled_10.jpg">
                    </p>
                    <h2>Tyres</h2>
                    <img class="car-photo" src="../images/tyre-world-1563634.jpg">
                    <p class="white">
                        <img class="small-img" src="../images/untitled_34.jpg">
                    </p>
                    <P>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                        vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                        justo. Nullam dictum felis eu pede mollis pretium. Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                        parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
            </section>
            <section class="testimonials-section">
                <div class="testimonials-head">
                    <h2>What Our Clients Say</h2>
                </div>
                <div class="testimonials-container">
                    <div class="testimonials">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elitduis sed dapibus leo nec ornare.
                            </p>
                            <div class="clients-name">
                                <p>
                                    <strong>John Doe</strong>
                                    <br>
                                    <em>CEO, Company Inc.</em>
                                </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="testimonials">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elitduis sed dapibus leo nec ornare.
                            </p>
                            <div class="clients-name">
                                <p>
                                    <strong>Jane Doe</strong>
                                    <br>
                                    <em>CEO, Company Inc.</em>
                                </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="testimonials">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elitduis sed dapibus leo nec ornare.
                            </p>
                            <div class="clients-name">
                                <p>
                                    <strong>Jane Doe</strong>
                                    <br>
                                    <em>CEO, Company Inc.</em>
                                </p>
                            </div>
                        </blockquote>
                    </div>
                </div>

        </div>
        </section>
</div>

<% include partials/footer %>